<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="MASTER_DIR" value="C:\Users\Administrator\AppData\Roaming\MetaQuotes\Terminal\FCD7FAD6D939832169EA539C647FB06D\MQL4\Files"></add>-->
    <add key="MASTER_DIR" value="C:\Users\USER\AppData\Roaming\MetaQuotes\Terminal\117FBC103D9B924AC6BDA144F8916FC6\MQL4\Files"></add>
    <add key="MASTER_ID" value="813410"></add>
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>